$accentColor =#007fff //默认主题颜色
$textColor = #475158  //默认字体颜色
$borderColor = #eaecef //默认边框颜色
$codeBgColor = #282c34 //默认背景颜色


.theme-default-content:not(.custom){
  margin:0 1.5rem;
}
.page-nav{
  margin 0 1.5rem;
}
#app .sidebar > .sidebar-links > li > a.sidebar-link{
  font-size:1rem ;
}
.theme-default-content code{
  background-color: #fff5f5;
  color:#ff502c;
}
blockquote{
  background-color: #e2f5ff;
  border-left: 0.2rem solid #007fff;
}
.home .hero img{
  max-height:500px;
}
